<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="navimg" src="img/ico.png">
                <span class="align-middle">SPORTSNEWS.COM</span></a>
        </div>
        <div class="collaps navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#">ESPN</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">BBC</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">TALKSPORT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">THE SPORT BIBLE</a>
  </li>
</ul>
</div>


<!-- <div class="container">
    
<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="img/nav.jpg" style="display: inline-block; width:60px; height:30px;">
  <span style="display: inline-block;">Manchester United</span></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    </div> -->