<div class="container" ng-controller="getNewsCTRL">
	
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a ng-click="changeNews('espn')" class="nav-link active" href="#">ESPN</a>
  </li>
  <li class="nav-item">
    <a ng-click="changeNews('fox-sports')" class="nav-link" href="#">FOX SPORTS</a>
  </li>
  <li class="nav-item">
    <a ng-click="changeNews('talksport')" class="nav-link" href="#">TALKSPORT</a>
  </li>
  <li class="nav-item">
    <a ng-click="changeNews('the-sport-bible')" class="nav-link" href="#">THE SPORT BIBLE</a>
  </li>
  <li class="nav-item">
    <a ng-click="changeNews('four-four-two')" class="nav-link" href="#">FOUR FOUR TWO</a>
  </li>
</ul>

	<div class="col-md-7">
  <h2 class="breakingNews">BREAKING NEWS</h2>
  <slider ng-include="'templates/slider.html'"></slider><br><br>
  
    <div class="showNews">
    <div class="col-sm-2"></div>
        <div class="col-sm-8">
                        <h3 class="text-bold">{{showNewsTitle}} <small> {{showNewsAuthor}}</small></h3>
                        <p>{{showNewsDescription}}</p>
        
    </div>
<div class="col-sm-2"></div>
  </div>
 </div>



  <div class="col-md-5">
    <h3 class="latestnews">LATEST NEWS</h3>
    <newscards ng-include="'templates/newscards.html'"></newscards>
  </div>
  </div>

